[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
isort = "*"
black = "==19.3b0"
pytest-cov = "==2.7.1"
tox = "*"

[packages]

[requires]
python_version = "3.7"
